.tp-migrate {

	div.progress {
		display: none;

		.tp-migrate-status {
			margin-left: 5px;

			&:after {
				content: '…';
			}

			&.finished:after {
				content: '';
			}

		}

	}

	div#message {
		display: none;

		p span {
			font-weight: bold;
		}
		
	}

	p.description {
		margin-top: 15px;
	}

}